/* src/features/product/components/ImageGallery/styles.module.css */
.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.mainImage {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}